@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url(/assets/font/Montserrat-Bold.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: italic;
    src: url(/assets/font/Montserrat-BoldItalic.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
    src: url(/assets/font/Montserrat-Italic.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url(/assets/font/Montserrat-Light.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 300;
    font-style: italic;
    src: url(/assets/font/Montserrat-LightItalic.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: url(/assets/font/Montserrat-Medium.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-style: italic;
    src: url(/assets/font/Montserrat-MediumItalic.ttf);
  }

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(/assets/font/Montserrat-Regular.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 100;
    src: url(/assets/font/Montserrat-Thin.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: 100;
    font-style: italic;
    src: url(/assets/font/Montserrat-ThinItalic.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(/assets/font/Roboto-Bold.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    src: url(/assets/font/Roboto-BoldItalic.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: italic;
    src: url(/assets/font/Roboto-Italic.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url(/assets/font/Roboto-Light.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: url(/assets/font/Roboto-LightItalic.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(/assets/font/Roboto-Medium.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
    src: url(/assets/font/Roboto-MediumItalic.ttf);
  }

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(/assets/font/Roboto-Regular.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url(/assets/font/Roboto-Thin.ttf);
  }
  
@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    src: url(/assets/font/Roboto-ThinItalic.ttf);
  }