@font-face {
    font-family: RobotoBold;
    font-weight: bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
  }

@font-face {
    font-family: RobotoItalic;
    font-weight: normal;
    font-style: italic;
    src: url(../assets/fonts/Roboto-Italic.ttf);
  }
  
@font-face {
    font-family: RobotoLight;
    font-weight: 300;
    src: url(../assets/fonts/Roboto-Light.ttf);
  }
  
@font-face {
    font-family: RobotoMedium;
    font-weight: 500;
    src: url(../assets/fonts/Roboto-Medium.ttf);
  }

@font-face {
    font-family: RobotoRegular;
    font-weight: 400;
    src: url(../assets/fonts/Roboto-Regular.ttf);
  }
  
@font-face {
    font-family: RobotoThin;
    font-weight: 100;
    src: url(../assets/fonts/Roboto-Thin.ttf);
  }

@font-face {
    font-family: RobotoMonoBold;
    font-weight: bold;
    src: url(../assets/fonts/RobotoMono-Bold.ttf);
  }

@font-face {
    font-family: RobotoMonoItalic;
    font-weight: normal;
    font-style: italic;
    src: url(../assets/fonts/RobotoMono-Italic.ttf);
  }
  
@font-face {
    font-family: RobotoMonoLight;
    font-weight: 300;
    src: url(../assets/fonts/RobotoMono-Light.ttf);
  }
  
@font-face {
    font-family: RobotoMonoMedium;
    font-weight: 500;
    src: url(../assets/fonts/RobotoMono-Medium.ttf);
  }

@font-face {
    font-family: RobotoMonoRegular;
    font-weight: 400;
    src: url(../assets/fonts/RobotoMono-Regular.ttf);
  }
  
@font-face {
    font-family: RobotoMonoThin;
    font-weight: 100;
    src: url(../assets/fonts/RobotoMono-Thin.ttf);
  }

@font-face {
    font-family: VarelaRound;
    font-weight: 400;
    src: url(../assets/fonts/VarelaRound-Regular.ttf);
  }